body {
    margin: 0;
    text-align: center;
}

#top {
    display: block;
    background-color: green;    
    text-align: center;
    color: ivory;
    height: 13rem;
}

#access {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 30fr 2fr 1fr 2fr 1fr;
}

.top_menu {
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0rem;
    padding-right: 0rem;
}

#empty {
    background-color: #099523;
    height: 2rem  ;
}

#container {
    display: inline-block;
    width: 80%;
    text-align: center;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#menu {
    height: 45rem;
    border-right:solid #099523 1px;
    border-left:solid #099523 1px;
}

.menu_list {
    padding: 7px;
    border-bottom:solid #099523 1px;
}

#content {
    border-right:solid #099523 1px;
}       

#topic {
    font-size: x-large;
    font-weight: bold;
    color: royalblue;
    width: 85%;  
    height: 10%;
    padding-top: 3rem;
    margin-left: 4.5rem;
    border-bottom: solid #099523 1px;
}

#description {
    padding-top: 3rem;
}

.login {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 1rem;
    display: inline-block;
    background-color: ivory;
}

#title {
    padding-top: 5rem;
    font-size: 4rem;
    font-weight: bolder;
    color: #04B404;
}

#login-box {
    padding-top: 2rem;
    display: inline-block;
    height: 31.7rem;
    width: 30rem;
}

.input_sign, #facebookLogin {
    width: 98%;
    height: 3rem;
    font-size: 1rem;
}

#facebook {
    padding-top: 4rem;
}

#new_list {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
}

.list {
    width: 90%;
    height: 1.4rem;
    font-size: 1rem;
    padding-right: 1rem;
}

#controler {
    padding-top: 1rem;
}

.order {
    padding-top: 4rem;
}

#submit {
    padding-top: 2.5rem;
}

ul {
    text-align: left;
    font-size: large;
    font-weight: 600;
    padding-left: 20rem;
}

ul li {
    margin: 0;
    margin-right: 20rem;
    padding: 0.5rem;
    list-style:none;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
    background-color: #E0FFFF;
}

li:nth-child(odd) {
    background-color: #FFF0F5;
}

li:hover {
    background-color: #ADD8E6;
}

li.checked {
    background-color: #87CEEB;
    text-decoration: line-through;
    font-style: oblique; 
}

li:nth-child(odd).checked {
    background-color: #FFC0CB;
}

#rate {
    text-align: left;
    padding-left: 5rem;
    padding-right: 5rem;
    font-weight: bold;
}

#rate_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: large;
}

#graph_num {
    font-size: 60px;
    color:green;
    text-align: right;
}

#graph {
    color:green;
    width:51rem;
    background-color:rgb(139, 172, 139);
}

#progress {
    width: 0%;
    background-color: green;
}

#circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #2C8E18;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    line-height: 200px;
    margin-left: 45rem;
    cursor: pointer;
}

#circle:hover {
    color: gold ;
    background: #1d7e0a;
}